<div class="modal-wrap hidden" data-aos="fade" data-aos-offset="200">
	<div class="modal">
		<img
			src="./img/icons/close-modal.svg"
			alt="image"
			loading="lazy"
			class="modal__close"
		/>
		<h2>Замовлення</h2>
		<div class="swiperModal">
			<button class="modal-button-prev">
				<img src="./img/icons/chev-l.svg" alt="image" loading="lazy" />
			</button>
			<ul class="swiper-wrapper modal__list">
				<li class="swiper-slide modal__item">
					<img
						class="modal__item-img"
						src="./img/icons/choose-x1.svg"
						alt="image"
						loading="lazy"
					/>
					<p class="modal__item-name">500 Ml</p>
					<p class="modal__item-price">$ 19.<span>99</span></p>
					<label class="custom-checkbox">
						<input type="checkbox" name="product" value="Product Name One" />
						<span class="checkmark"></span>
					</label>
				</li>
				<li class="swiper-slide modal__item">
					<img
						class="modal__item-img"
						src="./img/icons/choose-x3.svg"
						alt="image"
						loading="lazy"
					/>
					<p class="modal__item-name">500 Ml x 3</p>
					<p class="modal__item-price">$ 49.<span>99</span></p>
					<label class="custom-checkbox">
						<input type="checkbox" name="product" value="Product Name Two" />
						<span class="checkmark"></span>
					</label>
				</li>
				<li class="swiper-slide modal__item">
					<img
						class="modal__item-img"
						src="./img/icons/choose-x6.svg"
						alt="image"
						loading="lazy"
					/>
					<p class="modal__item-name">500 Ml x 6</p>
					<p class="modal__item-price">$ 109.<span>99</span></p>
					<label class="custom-checkbox">
						<input type="checkbox" name="product" value="Product Name Three" />
						<span class="checkmark"></span>
					</label>
				</li>
			</ul>
			<button class="modal-button-next">
				<img src="./img/icons/chev-r.svg" alt="image" loading="lazy" />
			</button>
		</div>
		<button class="primary" id="place-order" disabled>
			Зробити замовлення
		</button>
	</div>
	<div class="delivery hidden">
		<img
			src="./img/icons/close-modal.svg"
			alt="image"
			loading="lazy"
			class="delivery__close"
		/>
		<h2>Адреса доставки</h2>
		<div class="delivery__form-wrap">
			<form class="delivery__form" action="">
				<div class="row">
					<div class="delivery__input">
						<label for="">Ім'я <span>*</span></label>
						<input type="text" placeholder="Ваше ім'я" required />
					</div>
					<div class="delivery__input">
						<label for="">Прізвище <span>*</span></label>
						<input type="text" placeholder="Ваше прізвище" required />
					</div>
				</div>
				<div class="delivery__input">
					<label for="">Рядок адреси 1 <span>*</span></label>
					<input type="text" placeholder="Рядок вашої адреси 1" required />
				</div>
				<div class="delivery__input">
					<label for="">Рядок адреси 2 <span>*</span></label>
					<input type="text" placeholder="Рядок вашої адреси 2" required />
				</div>
				<div class="row">
					<div class="custom-select-wrap">
						<label for="state">Область<span>*</span></label>
						<div class="custom-select" id="state-select">
							<div class="custom-select__selected">Київська</div>
							<div class="custom-select__arrow">
								<img src="./img/icons/chev.svg" alt="image" loading="lazy" />
							</div>
							<ul class="custom-select__options hidden">
								<li data-value="Київська">Київська</li>
								<li data-value="Харківська">Харківська</li>
								<li data-value="Вінницька">Вінницька</li>
							</ul>
						</div>
						<input type="hidden" name="state" value="Київська" required />
					</div>
					<div class="delivery__input">
						<label for="">Місто <span>*</span></label>
						<input type="text" placeholder="Ваше місто" required />
					</div>
				</div>
				<div class="row">
					<div class="delivery__input">
						<label for="">Поштовий індекс <span>*</span></label>
						<input type="text" placeholder="Ваш поштовий індекс" required />
					</div>
					<div class="delivery__input">
						<label for="">Телефон <span>*</span></label>
						<input type="tel" placeholder="Ваш номер телефону" required />
					</div>
				</div>
				<div class="delivery__input">
					<label for="">Електронна пошта <span>*</span></label>
					<input
						type="email"
						placeholder="Ваша адреса електронної пошти"
						required
					/>
				</div>
				<button class="primary" type="submit" disabled>Замовити</button>
			</form>
		</div>
	</div>
</div>
