$primaryGreen: #0a8879;
$primaryGreenDark: #086d61;
$secondaryGreen: #09aa4c;
$natural_900: #242424;
$natural_800: #303030;
$black: #090909;
$natural_400: #767676;
$natural_200: #e0e0e0;
$natural_100: #f5f5f5;
$white: #ffffff;

$font: 'Gilroy', sans-serif;
